<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .row {
            margin:0px auto;
        }
    </style>
</head>
<body>
     {% include 'total/menu.html' %}
     <div style="height:30px"></div>
     <div class="container">
         <div class="row">
             <h3>총 <span style="font-size:25px;color:red">{{count}}</span>개의 맛있는 레시피가 있습니다.</h3>
         </div>
         <hr>
         <div class="row">
             {% for recipe in rd %}
              <div class="col-md-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{recipe.title}}</div>
                  <div class="panel-body">
                       <div class="thumbnail">
                          <a href="#">
                            <img src="{{recipe.poster}}" title="{{recipe.title}}" style="width:100%">
                          </a>
                        </div>
                  </div>
                </div>
              </div>
             {% endfor %}
         </div>
     </div>
</body>
</html>