<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .row {
            margin:0px auto;
        }
        h1{
            text-align:center
        }
    </style>
</head>
<body>
    {% include 'total/menu.html' %}
     <div style="height:30px"></div>
     <div class="container">
         <div class="row">
             <h1>영화목록</h1>
             {% for movie in md %}
              <div class="col-md-3">
                <div class="panel panel-primary">
                  <div class="panel-heading">{{movie.title}}</div>
                  <div class="panel-body">
                       <div class="thumbnail">
                          <a href="#">
                            <img src="{{movie.poster}}" title="{{movie.title}}" style="width:100%">
                          </a>
                        </div>
                  </div>
                </div>
                  </div>
             {% endfor %}
         </div>
     </div>
</body>
</html>